body {
    background-image: url("https://santaclaritahotels.files.wordpress.com/2013/06/fire.jpg");
}



h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Poiret One', cursive;
}

h3 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

a  {
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 20px;
    display: block;
    border-radius: 10px;
    border: 5px solid white;
    text-align: center;
    font-size: 2.5em;
    text-decoration: none;
    color: aqua;
    font-family: 'Poiret One', cursive;
}

div a:hover {
    color: white;
    background-image: url("http://www.fotor.com/fotor.test/b817e088d64e4b68b9fe592553ba7fab/b817e088d64e4b68b9fe592553ba7fab_p_400.png");
}